server:
  port: 8097

jwt:
  secret: "MySuperSecretKeyForJWTGeneration"
  expiration-ms: 3600000 

spring:
  application:
    name: policy
  
  datasource:
    url: jdbc:mysql://localhost:3306/policy_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        "[format_sql]": true
